# Python
__pycache__/
*.py[cod]
*.so
*.pyd
*.dll
*.egg-info/
*.egg
dist/
build/
.pytest_cache/
.coverage
htmlcov/
*.npy
*.npz
*.npc

# Poetry
poetry.lock

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

**/*.sh
*.sh
venv
.venv
.env
env
.benchmarks/